/* --------------------------- DARK THEME -------------------- */
/**/

.list-group-item,
.modal-content,
.contentwrapper {
    background-color: #252525;
    color: #fff;
}

    .list-group-item:hover {
        background-color: #353535;
        color: #fff;
    }

.modal-backdrop {
    background-color: white;
}

.custom-fa-btn-light {
    color: white;
}

.custom-link {
    color: white;
}

    .custom-link:hover,
    .custom-link:focus,
    .custom-link:active {
        color: #e10600;
    }

.btn-close {
    background-color: gray;
}

.modal-header {
    border-bottom-color: dimgray;
}

/* --------------------------- DARK THEME -------------------- */
