/* --------------------------- DARK THEME -------------------- */
/**/

.pagebackground:before {
    background-color: #252525;
}

.release-custom-btns {
    background-color: #555;
}

.list-group-item, .modal-content, .contentwrapper {
    background-color: #252525;
    color: #fff;
}

    .list-group-item:hover {
        background-color: #353535;
        color: #fff;
    }

.modal-backdrop {
    background-color: lightgray;
}

.custom-fa-btn-light {
    color: white;
}

.custom-link,
.custom-link:focus {
    color: white;
}

    .custom-link:hover,
    .custom-link:active {
        color: #e10600;
    }

.btn-close {
    background-color: gray;
}

.modal-header {
    border-bottom-color: dimgray;
}

/* --------------------------- DARK THEME -------------------- */
