/*!
 * main.css
 */

.pagebackground:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -9999;
    display: block;
    background-image: url('./../img/terrify_drive_banner_4_1.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /*transform: scale(1.05);*/
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}

.pagebackground {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -9999;
}

.contentwrapper {
    background-color: white;
}

.custom-header-text {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.custom-fa-btns-block {
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
}

.custom-fa-btn-a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.custom-fa-btn:hover {
    color: #e10600;
}
