.pagebackground:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -9999;
    display: block;
    background-image: url('./../img/texture.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /*transform: scale(1.05);*/
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.pagebackground {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -9999;
}

.container-lg {
    max-width: 960px;
}

.contentwrapper {
    background-color: white;
}

.footerwrapper {
    padding-top:10px;
    color: black;
    text-align: center;
}

.custom-padding-container {
    padding: 15px 15px 15px 15px;
}

.custom-header-text {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.custom-header-text-small {
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.custom-fa-btns-block {
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
}

.custom-fa-btns-line {
    font-size: 20px;
    text-align: center;
}

.custom-fa-btn-a {
    color: black; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.custom-fa-btn-a-line {
    color: black; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.custom-fa-btn-light {
    color: lightgrey;
}

.custom-fa-btn:hover,
.custom-fa-btn:focus,
.custom-fa-btn:active
{
    color: #e10600;
}
