body {
}

.pagebackground:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -9999;
    display: block;
    background-image: url('./../img/texture.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /*transform: scale(1.05);*/
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.pagebackground {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -9999;
}

.contentwrapper {
    background-color: white;
}

.container-lg {
    max-width: 960px;
}

.footerwrapper {
    padding-top: 8px;
    color: black;
    text-align: center;
}

.custom-padding-container {
    padding: 0px 0px 0px 0px;
}

.custom-header-text {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.custom-header-text-small {
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.custom-fa-btns-block {
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
}

.custom-fa-btns-line {
    font-size: 20px;
    text-align: center;
}

.custom-fa-btn-a {
    color: black; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.custom-fa-btn-a-line {
    color: black; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.custom-fa-btn-light {
    color: lightgrey;
}

.custom-fa-btn:hover,
.custom-fa-btn:focus,
.custom-fa-btn:active {
    color: #e10600;
}

.overlay-container {
    position: relative;
    text-align: center;
}

.overlay-centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    color: silver;
    opacity: 0.60;
}

.overlay-container:hover .overlay-centered-text {
    opacity: 0.80;
}

.modal-body {
    padding: 0px;
}

.modal-content,
.list-group,
.btn-close {
    border-radius: 0px;
}

.release-modal {
    max-width: 350px;
    margin: auto;
}
