.link-service-itunes {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/itunes.svg') !important;
}

.link-service-youtube-music {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/youtube-music.svg') !important;
}

.link-service-boom {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/boom.svg') !important;
}

.link-service-vk-music {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/vk-music.svg') !important;
}

.link-service-vk {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/vk.svg') !important;
}

.link-service-yandex-music {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/yandex-music.svg') !important;
}

.link-service-apple-music {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/apple-music.svg') !important;
}

.link-service-spotify {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/spotify.svg') !important;
}

.link-service-deezer {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/deezer.svg') !important;
}

.link-service-tiktok {
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 62px;
    background-image: url('./../img/services/tiktok.svg') !important;
}