<div>

    <div class="list-page-background" [style.background-image]="'url(./../../assets/texture.jpg)'">
    </div>

    <div class="container-fluid custom-padding-container">

        <div class="contentwrapper">
            <div>
                <div class="list-header-text">
                    <span>{{commonConfig.artistName}} [all pages]</span>
                </div>
            </div>
            <div class="list-group">
                <a href="{{commonConfig.pageVK}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/vk.svg)'">VK Official Community</a>
                <!--<a href="{{commonConfig.pageFacebook}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/facebook.svg)'">Facebook (releases only)</a>
                <a href="{{commonConfig.pageYouTube}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/youtube.svg)'">YouTube (releases only)</a>
                <a href="{{commonConfig.pageTikTok}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/tiktok.svg)'">TikTok (releases only)</a>
                <a href="{{commonConfig.pageInstagram}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/instagram.svg)'">Instagram (releases only)</a>-->
                <a href="{{commonConfig.serviceAppleMusic}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/apple-music.svg)'">Apple Music</a>
                <a href="{{commonConfig.serviceSpotify}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/spotify.svg)'">Spotify</a>
                <a href="{{commonConfig.serviceYandexMusic}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/yandex-music.svg)'">Yandex Music</a>
                <a href="{{commonConfig.serviceVKMusic}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/vk-music.svg)'">VK Music</a>
                <a href="{{commonConfig.serviceDeezer}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/deezer.svg)'">Deezer</a>
                <a href="{{commonConfig.serviceYouTubeMusic}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/youtube-music.svg)'">YouTube Music</a>
                <a href="{{commonConfig.serviceSoundCloud}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../assets/services/soundcloud.svg)'">SoundCloud</a>
            </div>
        </div>

        <div class="footerwrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h6>{{commonConfig.artistName}} © {{commonConfig.artistStartYear}}-{{yearNow}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>