<div>

    <div class="release-page-background" [style.background-image]="'url(./../../img/covers/' + releaseConfig.cover + ')'">
    </div>

    <div class="container-fluid custom-padding-container">

        <div class="contentwrapper">
            <div>
                <div class="release-header-text"><span>{{releaseConfig.type}}</span></div>
            </div>
            <img src="./../../img/covers/{{releaseConfig.cover}}" class="img-fluid" alt="...">
            <div class="list-group">
                <a href="{{releaseConfig.link_apple_music}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../img/services/apple-music.svg)'">Apple Music</a>
                <a href="{{releaseConfig.link_spotify}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../img/services/spotify.svg)'">Spotify</a>
                <a href="{{releaseConfig.link_yandex_music}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../img/services/yandex-music.svg)'">Yandex Music</a>
                <a href="{{releaseConfig.link_vk}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../img/services/vk.svg)'">VK</a>
                <a href="{{releaseConfig.link_vk_music}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../img/services/vk-music.svg)'">VK Music</a>
                <a href="{{releaseConfig.link_deezer}}" target="_blank" class="list-group-item list-group-item-action link-service-icon" [style.background-image]="'url(./../../img/services/deezer.svg)'">Deezer</a>
            </div>
        </div>

        <div class="footerwrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h6>{{commonConfig.artistName}} © {{commonConfig.artistStartYear}}-{{yearNow}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>