<div>

    <div class="release-page-background" [style.background-image]="'url(./../../img/covers/' + releaseConfig.cover + ')'">
    </div>

    <div class="container-fluid custom-padding-container">

        <div class="contentwrapper">
            <div>
                <div class="release-top-text"><span>{{releaseConfig.type}}</span></div>
            </div>
            <img src="./../../img/covers/{{releaseConfig.cover}}" class="img-fluid" alt="...">
            <div class="list-group">
                <a href="https://music.apple.com/album/1595354398" target="_blank" class="list-group-item list-group-item-action link-service-apple-music">Apple Music</a>
                <a href="https://open.spotify.com/album/7J8qlHcqMz0cxhFpxRhZLa" target="_blank" class="list-group-item list-group-item-action link-service-spotify">Spotify</a>
                <a href="https://music.yandex.ru/album/19366327" target="_blank" class="list-group-item list-group-item-action link-service-yandex-music">Yandex Music</a>
                <a href="https://vk.com/music/album/-2000672641_13672641_a459d46b285862a97b" target="_blank" class="list-group-item list-group-item-action link-service-vk">VK</a>
                <a href="https://share.boom.ru/album/18083917/?share_auth=02e1a14215108771af811a61b36b70" target="_blank" class="list-group-item list-group-item-action link-service-vk-music">VK Music</a>
                <a href="http://www.deezer.com/album/272689722" target="_blank" class="list-group-item list-group-item-action link-service-deezer">Deezer</a>
            </div>
        </div>

        <div class="footerwrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h6>Terrify Drive © 2021-{{yearNow}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>