<div>

    <!--<span>{{releaseConfig.cover}}</span>-->

    <div class="release-page-background">
    </div>

    <!--<div class="container-lg custom-padding-container">

        <div class="contentwrapper">
            <img src="./img/banner.jpg" class="img-fluid" alt="...">
            <div class="container-lg">
                ...
            </div>
        </div>

        <div class="footerwrapper">
            <div class="container-lg">
                <div class="row">
                    <div class="col">
                        <h6>Terrify Drive © 2021-2022</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>